<div class="container mt-4 text-center">
    <h2>Listado de Actividades</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Lugar</th>
                    <th class="text-center">Monitor</th>
                    <th class="text-center">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actividad of actividades">
                    <td class="text-center">{{ actividad.fecha }}</td>
                    <td class="text-center">{{ actividad.lugar }}</td>
                    <td class="text-center">{{ actividad.monitor }}</td>
                    <td class="text-center">{{ actividad.tipo }}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>